<ion-app>
  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="log-overnight-sleep">
        <ion-icon name="bed"></ion-icon>
        <ion-label>Log Sleep</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="log-sleepiness">
        <ion-icon name="pulse"></ion-icon>
        <ion-label>Sleepiness</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>