<ion-range aria-label="Range with ticks" [pin]="true" [ticks]="true" [snaps]="true" [min]="1" [max]="7"
  (ionChange)="updateSleepinessLevel($event)"></ion-range>
<ion-card *ngIf="sleepinessLevel !== null">
  <ion-card-header>
    <ion-card-title>Sleepiness Level: {{ sleepinessLevel }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{ sleepinessText }}
  </ion-card-content>
</ion-card>

<ion-button class="log-sleep" expand="block" (click)="logSleepiness()" [disabled]="sleepinessLevel === null">
  Log Sleepiness
</ion-button>

<ion-list *ngIf="sleepinessLogs.length > 0">
  <ion-list-header>Past Sleepiness Logs</ion-list-header>
  <ion-item *ngFor="let log of sleepinessLogs; let i = index">
    <ion-label>
      <h2>{{log.summaryString()}}</h2>
      <p>Logged at: {{ log.loggedAt | date:'short' }}</p>
    </ion-label>
    <ion-icon name="close-circle" (click)="deleteLog(i)"></ion-icon>
  </ion-item>
</ion-list>